@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rochester&display=swap');

html {
    height: 100%;
}

.dec-text{
    font-family:'Rochester', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px #c9bcabe4;
    color:#fff;
}

.plain-text{
    font-family: 'Nunito', 'Arial Narrow', Arial, sans-serif;
}

body {
    overflow-x: hidden;
    background: url('/media/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Nunito', 'Arial Narrow', Arial, sans-serif;
}

.home-page{
    position: relative;
}

p {
    color: #475654;
    font-family: 'Nunito', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

.nav-link {
    padding: 5px !important;
}

.text-black {
    color: #000;
}

header,
footer {
    background-color: #475654;
}

header {
    border-bottom: 3px solid #ffffff;
}

header p {
    color: white;
}

footer {
    border-top: 3px solid #ffffff;
}

.search-btn {
    background-color: white;
    border: 2.1px solid #c9bcab;
}

.search-btn i {
    color: #475654;
}

.logo-font {
    text-transform: uppercase;

}

.main-logo-link {
    width: fit-content;
}

.shop-now-btn {
    background: #857962;
    color: white;
    min-width: 260px;
}


.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus {
    background: #475654;
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.dark-title {
    color: #475654 !important;
}

/* PRODUCT PAGE */

.product-page {
    position: absolute;
    top: 103px;
    padding-top: 15px;
}

.product-card {
    width: 25rem;
    border: 3px solid #475654;
    border-radius: 0;
    margin-bottom: 20px;
}
.product-card img {
    height: 250px;
    object-fit: cover;
}

.product-page hr {
    margin-left: auto;
    margin-right: auto;
}

/* code from Hover.css v2 */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/* Bag */

.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none;
}

/* Toasts from Bootstrap */

.message-container {
    position: fixed;
    top: 200px;
    right: 15px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Allauth form formatting */
.allauth-form-inner-content{
    padding: 10px;
}
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color:#475654;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #475654;
    border: 1px solid #475654;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color:#475654;
    border-color: #475654;
}

.allauth-form-inner-content a {
	color: #475654; /* text-info */
}.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #857962;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #475654;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #c9bcab;
    border: 2px solid #475654;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #475654;
    border-color: #475654;
}

.allauth-form-inner-content a {
	color: #475654; /* text-info */
}

/* Contact Page */
.contact-container{
    margin:auto;
    width: fit-content;
}

.control-group {
    color: #475654;
}

.contact-container input{
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #656565;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin: 3px;
  width: 100%;
}

.contact-container textarea {
    box-sizing: border-box;
    height: 100px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #656565;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin: 3px;
    width: 100%;
}

.btn-container{
    width: fit-content;
    margin: auto;
}


/* Media Queries */
@media (max-width: 480px) {

    .shop-now-btn{
        padding: 5px !important;
    }

    .product-page {
        top: 110px;
        padding: 10px 10px 67px 10px !important;
    }

    .nav-link i{
        font-size: 1rem;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0px;
    }

    .navigation-list{
        font-size: 0.6rem;
    }

}

@media (min-width: 480px) {
    @media (max-width: 992px) {
        .product-page{
            top: 125px !important;
            padding: 5px 5px 65px 5px !important;
            position: absolute;
        }
        
    }   
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    @media (max-width: 1200px) {
        .navigation-list{
            font-size: 0.9rem;
            padding: 0px;
        }
        
    }
}
@media (min-width: 1200px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .product-page {
        max-width: 1100px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}