html {
    height: 100%;
}

body {
    background: url('/media/background-image.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #c9bcab;
}

p {
    color: #475654;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

.nav-link {
    padding: 5px !important;
}

.text-black {
    color: #000;
}
header,
footer {
    background-color: #475654;
}

header {
    border-bottom: 3px solid #c9bcab;
}

header p {
    color: #c9bcab;
}

footer {
    border-top: 3px solid #c9bcab;
}

.search-btn {
    background-color: #c9bcab;
    border: 2px solid #c9bcab
}

.search-btn i {
    color: #475654;
}

.logo-font {
    text-transform: uppercase;

}

.main-logo-link {
    width: fit-content;
}

.shop-now-btn {
    background: #857962;
    color: white;
    min-width: 260px;
}


.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus {
    background: #475654;
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #c9bcab;
    z-index: -1;

}

.dark-title {
    color: #475654 !important;
}

/* PRODUCT PAGE */

.product-page {
    position: absolute;
    top: 12vh;
    padding-top: 20px;
}

.product-card {
    width: 25rem;
    border: 3px solid #475654;
    border-radius: 0;
    margin-bottom: 20px;
}
.product-card img {
    height: 250px;
    object-fit: cover;
}

.product-page hr {
    margin-left: auto;
    margin-right: auto;
}

/* code from Hover.css v2 */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/* Bag */

.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none;
}

/* Toasts from Bootstrap */

.message-container {
    position: fixed;
    top: 200px;
    right: 15px;
    z-index: 9999;
    height: 300px;
    width: 300px
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color:#475654;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #475654;
    border: 1px solid #475654;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color:#475654;
    border-color: #475654;
}

.allauth-form-inner-content a {
	color: #475654; /* text-info */
}.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #857962;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #475654;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #c9bcab;
    border: 2px solid #475654;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #475654;
    border-color: #475654;
}

.allauth-form-inner-content a {
	color: #475654; /* text-info */
}

/* Media Queries */


@media (max-width: 480px) {
    .welcome-text {
        position: absolute;
        top: 50%;  
        left: 50%; 
    
        transform: translate(-50%, -50%);
    }
    .product-page {
        top: 17vh;
    }

}

/* tablets */

@media (max-width: 850px) {
    .product-page {
        top: 33vh;
    }
}