html {
    height: 100%;
}

body {
    background: url('/media/background-image.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #c9bcab;
}

header,
footer {
    background-color: #475654;
}

header {
    border-bottom: 3px solid #c9bcab;
}

footer {
    border-top: 3px solid #c9bcab;
}

.search-btn {
    background-color: #c9bcab;
}

.search-btn i {
    color: #475654;
}

.logo-font {
    text-transform: uppercase;

}

.main-logo-link {
    width: fit-content;
}

.shop-now-btn {
    background: #857962;
    color: white;
    min-width: 260px;
}


.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus {
    background: #475654;
    color: white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #c9bcab;
    z-index: -1;

}

.product-page {
    position: absolute;
    top: 12vh;
    padding-top: 20px;
}
/* Media Queries */

@media (max-width: 480px) {
    .welcome-text {
        position: absolute;
        top: 50%;  
        left: 50%; 
    
        transform: translate(-50%, -50%);
    }

}

@media (max-width: 768px) {
    .product-page {
        top: 23vh;
    }
}