{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid product-page p-5 m-auto">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="ext-uppercase dark-title">Product Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr class="w-50 md-1">
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-12 col-md-6 m-auto">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2 dark-title m-auto" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center">
                        <a class="btn btn-danger rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-success rounded-0" type="submit">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
